<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Havenly test suite" verbose="1">
	<listeners>
		<listener class-name="com.havenly.listener.ExtentReporterNG" />
	</listeners>
	<test name="survey test">
		<packages>
			<package name="com.havenly.tests" />
		</packages>
	</test>
</suite>